body{
	background:url(https://i.dailymail.co.uk/1/2018/09/21/13/4451158-6192875-image-a-12_1537534012206.jpg); 
	text-align:center; 
	padding:50px;	
    height: 100%;
    margin: 0;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
	color: white;
	background-color: black;
	text-align : center;
   
   border: 5px solid #7289da;
    border-radius: 5px;
   margin: 35px 35px 35px 35px;
}



/* Fixed sidenav, full height */
.sidenav {

    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;

}

/* Style the sidenav links and the dropdown button */
.sidenav a{

	font-family: 'Noto Serif JP', sans-serif;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover{
    color: #7289da;
    font-family: 'Noto Serif JP', sans-serif;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: black;
    color: white;
}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.open-button {
background-color:black;
color:white;
  border: none;
  cursor: pointer;
  bottom: 23px;
  text-align:center;
  width: 200px;
  height:45px;
  font-size:22px;
  margin-left:0;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  margin-left:550px;
  margin-top:87px;
  border: 3px solid #f1f1f1;
  width:300px;
  height:207px;
  z-index: 9;
  border-radius:10px;
}

.form-popup1 {
  display: none;
  position: fixed;
  margin-left:550px;
  margin-top:87px;
  border: 3px solid #f1f1f1;
  width:300px;
  height:207px;
  z-index: 9;
  border-radius:10px;
}
.form-popup2 {
  display: none;
  position: fixed;
  margin-left:550px;
  margin-top:87px;
  border: 3px solid #f1f1f1;
  width:300px;
  height:207px;
  z-index: 9;
  border-radius:10px;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:#7289da ;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 77px;
  height:40px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  margin-left:30px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
